
.background {
  background-color: aquamarine;
}



.jmecher {
   color: darkred;
   background-color: black;
}


.jeapca {
   text-align: center;
   color: green;
}

.jmecher:hover {
   color: whitesmoke;
   background-color: palevioletred;
   transition: 1s ease-out;
    
}

.b1 {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: aqua;
    box-shadow: 0 10px 20px blue;
    line-height: 50px;
 }
 
 .b1 .b2 {
   display: flex;
  position: relative;
 }
 .b1 .b2 li {
    font-size: 30px;
    flex: 1;
    list-style: none;
 }
 .b1 .b2 li a {
    text-decoration: none;
 }
 .b1 .b2 li:hover {
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: rgb(98, 0, 255);
    box-shadow: 0 10px 20px rgb(200, 0, 255);
    line-height: 80px;
    transition: 1s ease;
 }